@font-face {
    font-family: 'GLCW-Bold';
    src: url('../../fonts/GLCW-Bold.woff') format('woff'),
    url('../../fonts/GLCW-Bold.ttf') format('truetype'),
    url('../../fonts/GLCW-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GLCW-Regular';
    src: url('../../fonts/GLCW-Regular.woff') format('woff'),
    url('../../fonts/GLCW-Regular.ttf') format('truetype'),
    url('../../fonts/GLCW-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-Medium-Web';
    src: url('../../fonts/Graphik-Medium-Web.woff') format('woff'),
    url('../../fonts/Graphik-Medium-Web.ttf') format('truetype'),
    url('../../fonts/Graphik-Medium-Web.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
