.new-line {
    display: table;
}

.remove-text {
    
    @media #{$notebook} {
        display: none;
    }
    
}

.remove-col {
    @media #{$notebook} {
        display: none;
    }

    @media #{$tablet} {
        display: table-cell;
    }

    @media #{$mobile-sm} {
        display: none;
    }
}