// colors
$black: #000000;
$grey: #8890A1;
$lightgrey: #F4F4F6;
$blue: #003DB1;
$light-blue: #CEDEEC;
$orange: #FF5D39;
$white: #FFFFFF;
$purple:#acaccd;
$brown: #bea08b;




/*@media*/
$mobile-sm:"(max-width:565px)";
$mobile:"(max-width:767px)";
$tablet:"(max-width:1023px)";
$notebook:"(max-width:1199px)";