.advantages
    .container
        .transfer
            .transfer__item
                
                h2.transfer__title Переводите с карты на карту
                p.transfer__text Быстрый и удобный способ перевести денежные средства. 
                    span(class='new-line') Узнайте о 
                        a(class='transfer__link' href='#') лимитах и комиссиях
                a(class='btn btn--sm' href='#') Перевести
                
        div(class='advantages__cards' data-slider='slick2')
            .advantages__col.advantages__col--middle
                .advantages__wrapper
                    .advantages__item
                        img(class='advantages__img' src='static/img/advantages/phone.png', alt='')
                        h2.advantages__title Прямой доступ 
                            span(class='new-line') на валютный рынок
                        p.advantages__text Зарабатывайте на колебаниях курсов мировых валют
                    
            .advantages__col.advantages__col--sm
                .advantages__wrapper
                    .advantages__item
                        img(class='advantages__img' src='static/img/advantages/column.png', alt='')
                        h2.advantages__title Защитные признаки 
                            span(class='new-line') банкнот Банка России
                        p.advantages__text Признаки подлинности, контролируемые с использованием х8-х10 лупы
                    
            .advantages__col.advantages__col--sm
                .advantages__wrapper
                    .advantages__item
                        img(class='advantages__img' src='static/img/advantages/girl.png', alt='')
                        h2.advantages__title АО АКБ ЦентроКредит 
                            span(class='new-line') вступил в платежную 
                            span(class='new-line') систему МИР
                        p.advantages__text Начался прием карт МИР по выдаче наличных в сети банкоматов и дополнительных офисов.
                    
            .advantages__col.advantages__col--middle
                .advantages__wrapper
                    .advantages__item
                        img(class='advantages__img' src='static/img/advantages/rock.png', alt='')
                        h2.advantages__title Бесконтактная карта
                            span(class='new-line') MasterCard
                        p.advantages__text Вы можете гораздо быстрее произвести оплату на АЗС, парковке, в кафе или в магазине одним касанием!
                    
