mixin footerCol(title, ...links)
    .footer__col
        .footer__title= title
        .footer__toggle
            each link in links
                a(href='#' class='footer__link')= link


footer(class='footer' id='footer')
    .container
        .footer__inner
            +footerCol('Раскрытие информации', 'Реквизиты', 'Раскрытие информации', 'Процентные ставки по вкладам физ. лиц', 'Список лиц, под контролем либо значительным влиянием которых находится Банк')
            +footerCol('Частым клиентам', 'Банковские карты', 'Вклады', 'Тарифы', 'Защитные признаки банкнот Банка России')
            +footerCol('Корпоративным клиентам','Как стать клиентом','Кредитование','Интернет-банк')
            +footerCol('Услуги на РЦБ','Доступ на валютный рынок','Брокерское обслуживание','Открыть брокерский счет','Еврооблигации','Торговля на ММВБ','Облигации','QUIK трейдинг','Transaq')
        
        