header.header
    .header-top
        .container
            .header-top__inner
                .header-top__logo 
                    span B
                nav.nav-top
                    .nav-top__col.nav-top__col--left
                        .nav-top__item
                            a(class='nav-top__link' href='#') Private Banking
                        .nav-top__item
                            a(class='nav-top__link' href='#' id='bank') о банке
                    .nav-top__col.nav-top__col--right
                        .nav-top__item
                            a(class='nav-top__link' href='#') Офисы и банкоматы
                        .nav-top__item
                            a(class='nav-top__link' href='#') en
                        .nav-top__item
                            a(class='nav-top__link' href='#') 
                                img(src="static/img/svg/look.svg", alt="")
                        .nav-top__item.nav-top__item--tel
                            a(class='nav-top__link' href='tel:+74959568626') +7 495 956 86 26
                        .nav-top__item.nav-top__item--search   
                            a(class='nav-top__link' href='#')    
                                img(src="static/img/svg/search.svg", alt="")
                        button(class='nav-toggle' id='nav__toggle' type='button')
                            span.nav-toggle__item "Menu"
        .header-top__body
            .container
                .header-top__wrapper
                    .header-top__col
                        ul.header-top__list
                            li.header-top__item
                                a(class='header-top__link' href='#') Для юридических лиц
                            li.header-top__item
                                a(class='header-top__link' href='#') Резервный канал
                    .header-top__col
                        ul.header-top__list
                            li.header-top__item
                                a(class='header-top__link' href='#') Для частных клиентов
                            li.header-top__item
                                a(class='header-top__link' href='#') Личный кабинет инвестора
                    .header-top__col
                        ul.header-top__list
                            li.header-top__item
                                a(class='header-top__link' href='#') Перевод с карты на карту
                            li.header-top__item
                                a(class='header-top__link' href='#') Samsung Pay

    .header-main
        .container
            .header-main__inner
                .header-main__wrapper
                    nav.nav-main
                        ul.nav-main__list
                            li.nav-main__item
                                a(class='nav-main__link' href='#') Частным клиентам
                                .nav-main__block
                                    .container
                                        .nav-main__wrapper
                                            .nav-main__col
                                                ul.nav-main__sublist
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Платежный сервис
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Монеты
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Вклады
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Банковские карты
                                            .nav-main__col
                                                ul.nav-main__sublist
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Кредитование физических лиц
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Операции с наличной иностранной валютой
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Тарифы
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Текущие счета
                                            .nav-main__col
                                                .nav-main__card.nav-main__card--man
                                                    img(class="nav-main__img" src="static/img/menu-man.png", alt="")
                                                .nav-main__cabinet
                                                    span Интернет-банк для частных лиц
                                                    a(class='btn' href='#') Войти в личный кабинет
                                    


                            li.nav-main__item
                                a(class='nav-main__link' href='#') Корпоративным клиентам
                                .nav-main__block
                                    .container
                                        .nav-main__wrapper
                                            .nav-main__col
                                                ul.nav-main__sublist
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Интернет-банк
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Расчетно-кассовое обслуживание
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Как стать клиентом
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Кредитные сделки
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Тарифы
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Валютный контроль
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Управление проектного и структурного финансирования
                                            .nav-main__col
                                                ul.nav-main__sublist
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Корпоративное финансирование
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Организация операционно-кассового подразделения
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Войти в интернет-банк для юридических лиц
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Векселя
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Торговое финансирование и экспортно-импортные операции
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Инкассация
                                            .nav-main__col
                                                .nav-main__card.nav-main__card--build
                                                    img(class="nav-main__img" src="static/img/menu-build.png", alt="")
                                                .nav-main__cabinet
                                                    span Интернет-банк для частных лиц
                                                    a(class='btn' href='#') Войти в личный кабинет
                            li.nav-main__item 
                                a(class='nav-main__link' href='#') Услуги на ранке ценных бумаг
                                .nav-main__block
                                    .container
                                        .nav-main__wrapper
                                            .nav-main__col
                                                ul.nav-main__sublist
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Брокерское обслуживание
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Документы
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Прямой доступ на валютный рынок
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Облигации
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Еврооблигации
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Тарифы
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Интернет-трейдинг QUIK
                                            .nav-main__col
                                                ul.nav-main__sublist
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Интернет-трейдинг TRANSAQ
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Войти в личный кабинет
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Депозитарные услуги
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Открыть счет
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Рынки
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Непокрытые сделки
                                                    li.nav-main__subitem
                                                        a(class="nav-main__sublink" href="#") Контакты
                                            .nav-main__col
                                                .nav-main__card.nav-main__card--woman
                                                    img(class="nav-main__img nav-main__img--right" ,src="static/img/menu-woman.png", alt="")
                                                .nav-main__cabinet
                                                    span Интернет-банк для частных лиц
                                                    a(class='btn' href='#') Войти в личный кабинет
                            li.nav-main__footer
                                .about-bank
                                    .container
                                        div(class='about-bank__accordion' id='toggle')
                                            .about-bank__title О банке
                                            .about-bank__wrapper
                                                .about-bank__col
                                                    a(class='about-bank__link' href="#") Для юридических лиц
                                                    a(class='about-bank__link' href="#") Резервный канал
                                                    a(class='about-bank__link' href="#") Для частных клиентов
                                                .about-bank__col
                                                    a(class='about-bank__link' href="#") Личный кабинет инвестора
                                                    a(class='about-bank__link' href="#") Перевод с карты на карту
                                                    a(class='about-bank__link' href="#") Samsung Pay
                                .nav-footer
                                    .container
                                        .nav-footer__wrapper
                                            a(class='nav-footer__link' href="#") Private banking
                                            a(class='nav-footer__link nav-footer__link--look' href="#") Специальная версия для людей с ограниченными возможностями
                                            a(class='nav-footer__link nav-footer__link--tel' href='tel:+74959568626') +7 495 956 86 26
                
                .header-main__search
                    a(class='header-main__link' href='#')
                        img(src="static/img/svg/search.svg", alt="")

                    
