extends ../layout/main.pug
block variables
	- var title = 'Главная страница'

    
block content
	include ../modules/intro.pug
	include ../modules/services.pug
	include ../modules/advantages.pug
	include ../modules/news.pug
	include ../modules/footer.pug