.card {
    position: relative;
    height: 360px;
    padding: 50px 0 0 30px;
    color: $white;
    overflow: hidden;
    background-repeat: no-repeat;


    &--girl {
        background-color: $purple;
        background-image: url('../img/services/services-girl.png');
        background-position: right -34px top 0;

        @media #{$notebook} {
            background-size: 207px;
            background-position: right -45px top 18px;
        }

        @media #{$tablet} {
            background-size: 220px;
            background-position: right -33px top -4px;
        }

        @media #{$mobile-sm} {
            background-size: 182px;
            background-position: right -37px top 96px;
        }


        .card__text {
            width: 330px;

            @media #{$notebook} {
                width: 210px;
            }

            @media #{$tablet} {
                width: 305px;
            }

            @media #{$mobile-sm} {
                width: 100%;
            }

        }
    }

    &--man {
        background-color: $brown;
        background-image: url('../img/services/services-man.png');
        background-position: right -32px top 5px;

        @media #{$notebook} {
            background-size: 215px;
            background-position: right -22px top 20px;
        }

        @media #{$mobile-sm} {
            background-size: 182px;
            background-position: right -37px top 96px;
        }


        .card__text {
            width: 260px;

            @media #{$notebook} {
                width: 233px;
            }

            @media #{$tablet} {
                width: 240px;
            }

            @media #{$mobile-sm} {
                width: 100%;
            }
        }
    }

    &__suptitle {
        font-size: 12px;
        color: rgba($white, 0.5);
        text-transform: uppercase;
        margin-bottom: 44px;
        letter-spacing: 0.24px;

        @media #{$notebook} {
            margin-bottom: 43px;
        }

        @media #{$mobile-sm} {
            margin-bottom: 12px;
        }

    }

    &__title {
        font-family: 'GLCW-Bold',
            sans-serif;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 14px;
        width: 343px;

        @media #{$notebook} {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
        }

        @media #{$mobile-sm} {
            font-size: 18px;
            width: 100%;
            
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;        
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: -32px;
    }

    @media #{$notebook} {
        padding-left: 23px;
    }

    @media #{$tablet} {
        padding-left: 30px;
    }

    @media #{$mobile-sm} {
        padding-left: 20px;
    }
}