.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;

    @media #{$tablet} {
        padding-left:90px;
        padding-right: 90px;
    }

    
    &--slider {
        @media #{$tablet} {
            padding-left: 0;
            padding-right: 0;
            margin-left: -12px;
            width: auto;
            margin-bottom: 22px;
        }

        @media #{$mobile} {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 0;
            margin-bottom: 73px;
        }
        @media #{$mobile-sm} {            
            margin-bottom: 45px;
        }
    }
    
}