.currency {
    border-collapse: collapse;
    width: 100%;
    max-width: 510px;
    
    td {
        vertical-align: bottom;
    }

    &__head {

        font-size: 12px;
        text-transform: uppercase;
        color: $grey;
        letter-spacing: 0.05em;
        border-bottom: 1px solid rgba(136, 144, 161, 0.2);
        text-align: left;
        width: 100%;
        max-width: 510px;

        th {
            font-weight: normal;
            padding: 12px 0;

            @media #{$notebook} {
                padding: 14px 0;
            }

            @media #{$mobile-sm} {
                padding: 9px 0;
                padding-top: 2px;
            }


            &:nth-child(1) {
                width: 17.7%;

                @media #{$notebook} {
                    width: 22.7%;
                }

                @media #{$tablet} {
                    width: 17.7%;
                }

                @media #{$mobile-sm} {
                    width: 18.7%;
                }
            }

            &:nth-child(2) {
                width: 19.9%;

                @media #{$tablet} {
                    width: 19.5%;
                }
            }

            &:nth-child(3) {
               width: 22.4%;

               @media #{$notebook} {
                   width: 27%;
               }

               @media #{$tablet} {
                   width: 22.5%;
               }

               @media #{$mobile-sm} {
                   width: 29.5%;
               }


            }

            &:nth-child(4) {
                width: 22.7%;

                @media #{$notebook} {
                    width: 25.7%;
                }

                @media #{$tablet} {
                    width: 22.7%;
                }

                @media #{$mobile-sm} {
                    width: 27.7%;
                }
            }  
            
            &:nth-child(5) {
                width: 88px;
            }
        }

        @media #{$mobile-sm} {
            font-size: 9px;
            line-height: 9px;
        }
    }

    &__cy {
        font-family: 'GLCW-Bold',
            sans-serif;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: $grey;
        padding-bottom: 9px;

        &--usd {
            padding-top: 45px;

            @media #{$mobile-sm} {
                padding-top: 18px;
            }
        }

        &--eur {
            padding-top: 22.5px;

            @media #{$mobile-sm} {
                padding-top: 7.5px;
            }
        }

        &--gbp {
            padding-top: 23.5px;

            @media #{$mobile-sm} {
                padding-top: 4.5px;
            }
        }

        &--chf {
            padding-top: 22.5px;

            @media #{$mobile-sm} {
                padding-top: 7.5px;
            }
        }

         @media #{$mobile-sm} {
             font-size: 14px;
             line-height: 15px;
         }
    }   

    &__buy,
    &__sell,
    &__cb {
        font-family: 'Graphik-Medium-Web',
            sans-serif;
        font-size: 18px;
        line-height: 18px;
        position: relative;
        padding-bottom: 9px;


        &::after {
            position: absolute;
            left: 60px;
            bottom: 12px;
            width: 10px;
            height: 15px;

            @media #{$notebook} {
                left: 60px;
            }
        }

        &--negative {

             @media #{$mobile-sm} {
                color: $orange;
             }

            &::after {
                content: '';
                background-image: url('../img/svg/table/currency/fall.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;

                @media #{$mobile-sm} {
                    display: none;
                }

            }
        }

        &--positive {

             @media #{$mobile-sm} {
                 color: $blue;
             }

            &::after {
                content: '';
                background-image: url('../img/svg/table/currency/rise.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;

                 @media #{$mobile-sm} {
                     display: none;
                 }
            }
        }

        @media #{$mobile-sm} {
            font-size: 14px;
            line-height: 14px;
        }

    }

    &__cb {
        &::after {
            left: 81px;             
        }
    }



    @media #{$tablet} {
        margin: 0 auto;
        max-width: 530px;
    }






}