.nav-main {

    &__list {
        display: flex;
        justify-content: flex-start;

        @media #{$tablet} {
            width: 100%;

            justify-content: space-between;
        }

        @media #{$mobile} {
            flex-direction: column;
            justify-content: flex-start;

        }

    }

    &__item {
        margin-right: 48px;

        @media #{$tablet} {
            margin-right: 0;
        }

        @media #{$mobile} {
            flex-basis: 100%;
            border-bottom: 1px solid rgba(136, 144, 161, 0.2);
            padding: 0 20px;
        }
    }

    &__link {
        font-family: 'Graphik-Medium-Web',
            sans-serif;
        color: $black;

            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-top: 2px solid $black;
                border-right: 2px solid $black;
                top: 50%;
                right: 2px;
                transform: translateY(-50%) rotate(135deg);
                display: none;

                @media #{$mobile} {
                    display: block;
                    
                }

            }

            &.active {
                &:after {
                    transform: translateY(-50%) rotate(-45deg);
                }
            }

        @media #{$mobile} {
            display: block;            
            padding-top: 18px;
            padding-bottom: 17px;
            position: relative;
        }
        
    }

    

    &__sublink {
        font-size: 18px;
        color: $grey;
        line-height: 1.5;
        display: block;
        padding: 17px 0 6px;
        &:hover {
            color: $blue;
        }

        @media #{$notebook} {
            padding: 13px 0 0;
        }

        @media #{$mobile-sm} {
            font-size: 14px;
            padding: 13px 0 6px;
        }
    }

    &__block {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        border-top: 1px solid rgba(136, 144, 161, 0.2);
        width: 100%;
        box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.2);
        background-color: $white;
        z-index: 1000;
        &.active {
            display: block;

        }

        @media #{$tablet} {
            box-shadow: none;
        }

        @media #{$mobile} {
            position: static;
            border-top: none;
        }


    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 20px 0 58px;

         @media #{$notebook} {
            padding: 41px 0 58px;
         }

        @media #{$tablet} {
            flex-wrap: wrap;
            padding: 12px 0 30px;
        }

        @media #{$mobile} {
            flex-direction: column;
            padding: 0 0 30px;
        }

    }

    &__col {
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            width: 309px;
            margin-right: 91px;

            @media #{$notebook} {
                width: 300px;
                margin-right: 10px;
            }

            @media #{$tablet} {
                flex-basis: 50%;
                margin-right: 0;
                width: auto;
            }

            @media #{$mobile-sm} {                
                width: auto;
                margin-top: -7px;
            }

        }

        &:nth-child(2) {
           width: 332px;
           margin-right: auto;

           @media #{$notebook} {
               width: 299px;
           }

           @media #{$tablet} {
               flex-basis: 50%;
               padding-left: 15px;
           }

           @media #{$mobile} {
               flex-basis: 50%;
               padding-left: 0;
           }

           @media #{$mobile-sm} {                
            width: auto;
            margin-bottom: -44px;
        }
        }

        &:nth-child(3) {          
            

            @media #{$tablet} {
                flex-basis: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                margin-top: 60px;
            }
            @media #{$mobile} {
                flex-direction: column;
                align-items: center;
            }
            @media #{$mobile-sm} {                
                align-items: flex-start;
            }
        }


        /*@media #{$tablet} {



            &:nth-child(1) {
                flex-basis: 50%;
            }

            &:nth-child(2) {
                flex-basis: 50%;
            }

            &:nth-child(3) {
                flex-basis: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                @media #{$mobile} {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }*/



    }

    &__card {        
        width: 270px;
        height: 185px;
        margin-bottom: 13px;
        position: relative;

        &--man {
            background-image: linear-gradient(to top, $light-blue 140px, $white 140px);
        }

        &--build {
            background-image: linear-gradient(to top, #CFE6E5 140px, $white 140px);
        }

        &--woman {
            background-image: linear-gradient(to top, #e6e4cf 140px, $white 140px);
        }

        @media #{$notebook} {
            overflow: hidden;
            margin-top: -20px;
            width: 277px;
        }

        @media #{$tablet} {            
            margin-bottom: 0;
        }

        @media #{$mobile} {            
            width: 280px;
            height: 174px;
        }
        

    }

    &__img {
        position: absolute;
        left: 0;
        bottom: 0;

        &--right {
            left: auto;
            right: 0;
            bottom: 0;

            @media #{$notebook} {
                left: auto;
                
                bottom: 0;
            }
        }

        @media #{$notebook} {
            left: 5px;
            bottom: -13px;
        }
    }


    &__cabinet {
        display: flex;
        flex-direction: column;

        span {
            padding: 5px 0;
            font-family: 'Graphik-Medium-Web',
                sans-serif;
            color: $black;
            margin-bottom: 25px;

            @media #{$notebook} {
                padding: 8px 0;
                margin-bottom: 15px;
            }

            @media #{$tablet} {
                max-width: 150px;
                font-size: 18px;
                line-height: 25px;
                padding: 4px 0;
            }

            @media #{$mobile} {
                max-width: none;
                font-size: 14px;
                padding-top: 14px;
                margin-bottom: 4px;
            }
        }

        .btn {
            @media #{$notebook} {
                max-width: none;
            }

            @media #{$mobile-sm} {
                padding: 7px 0;
                font-size: 12px;
            }
        }

        @media #{$tablet} {
            width: 277px;
        }

        @media #{$mobile} {
            width: 280px;
        }
    }

    &__footer {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        background-color: $white;
        z-index: 1000;
        &.active {
            display: block;
        }

        .container {
            position: relative;
        }

        @media #{$mobile} {
            display: block;
            position: static;
        }


    }
}