.services {
    margin-bottom: 62px;
    

    &__title {
        font-size: 35px;
        line-height: 80px;
        font-family: 'GLCW-Bold',
        sans-serif;
        margin-bottom: 6px;

        @media #{$mobile} {            
            line-height: 35px;
        }

        @media #{$mobile-sm} {
            font-size: 20px;
            line-height: 25px;
            padding-right: 40px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 -15px;

        &--slider {
            @media #{$tablet} {
                margin-right: 0;
            }

            @media #{$mobile} {
                margin-right: 0;
                margin-left: 0;
            }
        }

        &--tables {
            @media #{$mobile} {
                margin-top: 21px;
            }
        }

        @media #{$mobile} {
             margin-right: 0;
             margin-left: 0;
        }
        
    }

    &__col {
        padding: 15px;
        flex-basis: 50%;

        &--slider {
            @media #{$tablet} {
                width: 618px;
                cursor: move;
            }

            @media #{$mobile} {
                width: 100%;
                
            }
        }
        
        &--toggle {
            padding-bottom: 7px;
        }

        @media #{$mobile} {
            padding: 0;
        }

        &--tables {
            @media #{$tablet} {
                display: none;
                flex-basis: 100%;
                
            }

            &.active {
                display: block;
            }
        }
    }
    
    &__table {
        padding: 29px;
        height: 360px;
        border: 1px solid rgba(136, 144, 161, 0.2);
        border-bottom: none;
    }

    &__toggle {
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;

        .services__svg--currency {
            margin-top: 6px;
            margin-right: 9.5px;
        }

        .services__svg--coins {
            margin-top: 1px;
            margin-right: 11.5px;
        } 

        path {
            fill: $orange;

            @media #{$tablet} {
               fill: rgba(136, 144, 161, 0.5);
            }
        }
        a,time {
            color: $orange;
            font-size: 18px;
            line-height: 30px;

            @media #{$tablet} {
                color: rgba(136, 144, 161, 0.5);                
            }
        }
        
        time {
            color: $grey;
            margin-left: 9px;
        }

        &.active {
            path {
                fill:$orange;                
            }

            a {
                color: $orange;
            }

        }
        
    }    

    .slick-dots {        
        bottom: -36px;
        left: 50%;
        transform: translateX(-50%);
    }

    .container {
        @media #{$mobile} {
            padding-left: 20px;
            padding-right: 20px;
        }
        
    }
}