block variables

doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type" content="text/html" charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="keywords" content="")
        link(rel="stylesheet", type='text/css', href="static/css/styles.css")
        title #{title}
    body
        include ../modules/header.pug
        block content


        script(src="static/js/jquery-3.4.1.min.js")
        script(src="static/js/vendor/slick.min.js")
        script(src="static/js/main.js")
        block script